/*
 * Custom CSS
 */

:root {
  --bs-body-bg: var(--bs-gray-100);
}

/* Section Padding */
section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Headline Demo Cards */
#demo .card-title {
  font-size: 1.13rem;
}

/* Testimonial Avatar Images */
#testimonials img.rounded-circle {
  object-fit: cover;
  border: 2px solid #f3f3f3;
}

/* Responsive style tweaks */
@media (max-width: 576px) {
  .display-4 {
    font-size: 2.2rem;
  }
}